body{
	
	background: #3072AE;
}
.mainBlock{
	float: left;
	margin-left: 25%;
	width: 50%;
	background-color: #3072AE;
	height: 580px;
	width: 50%;
	text-align: center;
	
	display: none;
	border-radius: 5%;
}

.upper{
	top: 20;
	padding: 0 !important;
	margin-top: 0%;
	padding-top: 0px;
	position: absolute;
	margin-left: 1%;
}
.nav{
	width: 100px;
	height: 50px;
	
}
.container{
	width: 100%;
	margin-top: 50%;
	background-color: white;
}



